<form [formGroup]="vh_form">

  <label>Mileage</label>
  <br>
  <input type="number" formControlName="mileage" value="" required="">

  <br>
  <label>Year</label>
  <br>
  <input type="number" formControlName="year" value="" required="">

  <br>
  <label>Engine power</label>
  <br>
  <input type="number" formControlName="engine_power" value="" required="">

  <br>
  <!-- id category-->
  <label>Category</label>
  <br>
  <div *ngIf="VehicleDTO==null">
    <a routerLink="/category/form/">...</a>
  </div>
  <div *ngIf="VehicleDTO!=null">
    <a routerLink="/category/form/id_category">...</a>
  </div>



  <br>
  <!-- id supplier-->
  <label>Supplier</label>
  <br>

  <div *ngIf="VehicleDTO==null">
    <a routerLink="/supplier/form/">...</a>
  </div>
  <div *ngIf="VehicleDTO!=null">
    <a routerLink="/supplier/form/id_supplier">...</a>
  </div>


  <br>
  <!-- list vehicle_status-->
  <label>Status</label>
  <br>
  <a routerLink="status/form"><button>...</button></a>


  <br>
  <button *ngIf="id!=null" (click)="update()">Update</button>
  <br>
  <button *ngIf="id!=null" (click)="delete()">Delete</button>
  <br>
  <button *ngIf="id==null" (click)="create()">Create</button>

  </form>


