<form [formGroup]="vh_form">

  <label>Mileage</label>
  <br>
  <input type="number" formControlName="mileage" value="" required="">

  <br>
  <label>Year</label>
  <br>
  <input type="number" formControlName="year" value="" required="">

  <br>
  <label>Engine power</label>
  <br>
  <input type="number" formControlName="engine_power" value="" required="">

  <br>
  <!-- id category-->
  <label>Category</label>
  <br>
  <div *ngIf="id==0">
    <a routerLink="/category/form/0/0">...</a>
  </div>
  <div *ngIf="id!=0">
    <a routerLink="/category/form/id_category/id_price">...</a>
  </div>


  <br>
  <!-- id supplier-->
  <label>Supplier</label>
  <br>

  <div *ngIf="id==0">
    <a routerLink="/supplier/form/0">...</a>
  </div>
  <div *ngIf="id!=0">
    <a routerLink="/supplier/form/id_supplier">...</a>
  </div>


  <br>
  <!-- list vehicle_status-->
  <label>Status</label>
  <br>

  <!--
  <a routerLink="/status/form/list_vehicle_status">...</a>
  -->
  <a routerLink="/status/form">...</a>


  <br>
  <br>
  <button *ngIf="id!=0" (click)="update()">Update</button>
  <br>
  <button *ngIf="id!=0" (click)="delete()">Delete</button>
  <br>
  <button *ngIf="id==0" (click)="create()">Create</button>

  </form>


