<p>booking-form works!</p>

<form [formGroup]="booking_form">

  <label>adress</label>
  <br>
  <input type="string" formControlName="adress">

  <br>

  <label>start date</label>
  <br>
  <input type="date" formControlName="startDate">

  <br>

  <label>start time</label>
  <br>
  <input type="time" formControlName="startTime">

  <br>

  <label>arrival date</label>
  <br>
  <input type="date" formControlName="arrivalDate">

  <br>

  <label>arrival time</label>
  <br>
  <input type="time" formControlName="arrivalTime">

  <br>

  <label>registered user</label>
  <br>
  <input type="number" formControlName="id_registered_user">

  <br>

  <label>vehicle properties</label>
  <br>
  <input type="number" formControlName="id_vehicle_properties">

  <br>

  <button (click)="create_booking()">Create</button>
  <button (click)="update_booking()">Update</button>


  </form>






