
<form [formGroup]="booking_form">

  <label>adress</label>
  <br>
  <input type="string" formControlName="adress">

  <br>

  <label>start date</label>
  <br>
  <input type="datetime-local" formControlName="start_date">

  <br>


  <br>

  <label>arrival date</label>
  <br>
  <input type="datetime-local" formControlName="arrival_date">

  <br>

  <label>registered user</label>
  <br>
  <input type="number" formControlName="id_registered_user">

  <br>

  <label>vehicle properties</label>
  <br>
  <input type="number" formControlName="id_vehicle_properties">

  <br>

  <button (click)="create()">Create</button>
  <button (click)="save()">Save</button>


  </form>






