<form [formGroup]="supplier_form">

    <div formArrayName="supplierArray" *ngFor="let data of supplier_form.get('supplierArray')['controls']; let i=index">
      <div [formGroupName]="i">

        <label *ngIf="check_selected(i)">Selected</label>

        <br>
        <label>name</label>
        <br>
        <input type="string" formControlName="name">

        <br>
        <label>adress</label>
        <br>
        <input type="string" formControlName="adress">

        <br>
        <label>tel</label>
        <br>
        <input type="string" formControlName="tel">

        <br>
        <label>purchase price</label>
        <br>
        <input type="number" formControlName="purchase_price">

        <br>

        <button *ngIf="check_selected(i)==false"(click)="Selection(i)">Select</button>

        <button *ngIf="check(i)==true && length(i)" (click)="delete(i)">delete</button>
        <button *ngIf="check(i)===true" (click)="update(i)">update</button>

        <br>
        <button *ngIf="check(i)==false" (click)="create(i)">create</button>
        <button *ngIf="check(i)===false" (click)="cancel(i)">cancel</button>

      </div>
    </div>

    <br>

    <button (click)="save()">save</button>
    </form>

