<form [formGroup]="supplier_form">

    <div formArrayName="supplierArray" *ngFor="let data of supplier_form.get('supplierArray')['controls']; let i=index">
      <div [formGroupName]="i">

        <label>name</label>
        <br>
        <input type="string" formControlName="name">

        <br>

        <label>adress</label>
        <br>
        <input type="string" formControlName="adress">

        <br>

        <label>tel</label>
        <br>
        <input type="string" formControlName="tel">

        <br>

        <label>purchase price</label>
        <br>
        <input type="number" formControlName="purchase_price">

        <br>

        <button *ngIf="existant==true" (click)="delete(i)">delete</button>
        <button *ngIf="existant==true" (click)="update(i)">update</button>
        <br>
        <button *ngIf="existant==false" (click)="create(i)">create</button>

      </div>
    </div>

    <br>

    <button (click)="save()">save</button>
      </form>

