<form [formGroup]="price_form">

    <label>price day</label>
    <br>
    <input type="number" formControlName="price_day">

    <br>
    <label>price week-end</label>
    <br>
    <input type="number" formControlName="price_weekend">

    <br>
    <label>price month</label>
    <br>
    <input type="number" formControlName="price_month">

    <br>
    <label>caution</label>
    <br>
    <input type="number" formControlName="caution">

    <br>
    <br>
    <button *ngIf="id!=0" (click)="update()">Update</button>
    <br>
    <button *ngIf="id!=0" (click)="delete()">Delete</button>
    <br>
    <button *ngIf="id==0" (click)="create()">Create</button>


<br>
<button (click)="save()">save</button>

  </form>
