
  <form [formGroup]="category_form">

    <button (click)="add_DefaultData()">add</button>

    <div formArrayName="categoryArray" *ngFor="let data of category_form.get('categoryArray')['controls']; let i=index">
      <div [formGroupName]="i">
        <label *ngIf="check_selected(i)">delete</label>
        <br>
        <label>brand</label>
        <br>
        <input type="string" formControlName="brand" value="" required="">
        <br>

        <label>model</label>
        <br>
        <input type="string" formControlName="model" value="" required="">
        <br>


        <label>price</label>
        <br>
        <a routerLink="price/form"><button>...</button></a>
        <br>

        <!--
        <input type="number" formControlName="id_price" value="" required="">
        -->


        <button *ngIf="check_selected(i)==false"(click)="Selection(i)">Select</button>

        <button *ngIf="check(i)==true && length(i)" (click)="delete(i)">delete</button>
        <button *ngIf="check(i)===true && length(i)" (click)="update(i)">update</button>

        <br>

        <button *ngIf="check(i)==false" (click)="create(i)">create</button>
        <button *ngIf="check(i)===false" (click)="cancel(i)">cancel</button>


        <br>
        <p>______________</p>
        <br>
        <br>
      </div>
    </div>

    <br>

    <button (click)="save()">save</button>
    </form>
