<p>status-form works!</p>

<form [formGroup]="status_form">

<button (click)="add()">add</button>

<div formArrayName="test" *ngFor="let data of status_form.get('test')['controls']; let i=index">
  <div [formGroupName]="i">
    <input type="text" formControlName="name" value="" required="">
    <input type="text" formControlName="description" value="" required="">
    <button (click)="delete(i)">delete</button>
    <!--
      <button (click)="update(i)">update</button>
    -->
  </div>
</div>

<br>

<button (click)="save()">save</button>
</form>




  <!--
  <form [formGroup]="status_form">
  <label>status</label>
  <br>
  <input type="string" formControlName="status">

  <br>

  <label>start date</label>
  <br>
  <input type="date" formControlName="start_date">

  <br>

  <label>start time</label>
  <br>
  <input type="time" formControlName="start_time">

  <br>

  <label>end date</label>
  <br>
  <input type="date" formControlName="end_date">

  <br>

  <br>

  <label>end time</label>
  <br>
  <input type="time" formControlName="end_time">

  <br>
    </form>
  -->




  <!-- delete ext

   <button (click)="create_status()">Create</button>
  <button (click)="update_status()">Update</button>
  -->


