<form [formGroup]="status_form">

<button (click)="add()">add</button>

<div formArrayName="statusArray" *ngFor="let data of status_form.get('statusArray')['controls']; let i=index">
  <div [formGroupName]="i">
    <label>status</label>
    <br>
    <input type="text" formControlName="status" value="" required="">
    <br>

    <label>start date</label>
    <br>
    <input type="datetime-local" formControlName="start_date" value="" required="">
    <br>


    <label>end date</label>
    <br>
    <input type="datetime-local" formControlName="end_date" value="" required="">
    <br>

    <button (click)="delete(i)">delete</button>
    <button (click)="update(i)">update</button>
    <br>
    <p>______________</p>
    <br>
    <br>
  </div>
</div>

<br>

<button (click)="save()">save</button>
</form>

  <!-- delete ext

   <button (click)="create_status()">Create</button>
  <button (click)="update_status()">Update</button>
  -->


