
<div *ngIf="listVehicleProperties.length==0">
<p>Aucun véhicule enregistré</p>
<br>
<button (click)="RedirectTo_Vehicles_Properties(0)">Create</button>
</div>


<div *ngIf="listVehicleProperties.length>0">
  <ul>
    <li *ngFor="let vh of listVehicleProperties">
      <p>Mileage : {{vh.mileage}}</p>
      <p>Year : {{vh.year}}</p>
      <p>Engine power : {{vh.engine_power}}</p>&nbsp;
      <p>Brand : {{vh.category.brand}}</p>
      <p>Model : {{vh.category.model}}</p>&nbsp;
      <p>Supplier : {{vh.supplier.name}}</p>

      <!--
      <a routerLink="/vh_form/vh.id">Details</a> &nbsp;
      <a routerLink="/vh_form/vh.id">Update</a> &nbsp;
      <a routerLink="/vh_form/vh.id">Delete</a> &nbsp;
      -->

      <button (click)="RedirectTo_Vehicles_Properties(vh.id)">Details</button>
      <button (click)="RedirectTo_Vehicles_Properties(vh.id)">Update</button>
      <button (click)="RedirectTo_Vehicles_Properties(vh.id)">Delete</button>
    </li>
  </ul>

  <button (click)="RedirectTo_Vehicles_Properties(0)">Create</button>


</div>



