<form [formGroup]="user_form">

  <label>last name</label>
  <br>
  <input type="string" formControlName="last_name">

  <br>

  <label>first name</label>
  <br>
  <input type="string" formControlName="first_name">

  <br>

  <label>username</label>
  <br>
  <input type="string" formControlName="username">

  <br>

  <label>password</label>
  <br>
  <input type="string" formControlName="password">

  <br>

  <button (click)="create()">Create</button>
  <button (click)="save()">Save</button>

  </form>
